body{
    background: rgb(47, 47, 232);
    font: normal 15pt Arial;
    text-align: center;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.743);
}

footer {
    color: rgb(219, 92, 92);
    text-align: center;
    font-style: italic;
    
}